<footer style="width:100%;" class="text-center text-lg-start mt-xl-5 pt-4">
  <!-- Grid container -->
  <div class="container-fluid p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">Information</h5>

        <ul class="list-unstyled mb-4">
          <li>
            <a href="#!" class="text-white">Shop</a>
          </li>
          <li>
            <a href="#!" class="text-white">What's Vinification?</a>
          </li>
          <li>
            <a href="#!" class="text-white">About us</a>
          </li>
          <li>
            <a href="#!" class="text-white">Contact us</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">Our policies</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="text-white">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!" class="text-white">Shipping & Cancellation</a>
          </li>
          <li>
            <a href="#!" class="text-white">Returns & Refund</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" id="logo">
        <img class="img" src="../../assets/images/Winster1.png" alt="logo">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4">Sign up to get new offers</h5>

        <div class="form-outline form-white mb-4">
          <input type="email" id="form5Example2" class="form-control" placeholder="Email Address"/>
          <button type="submit" id="btn" class="btn btn-outline-white btn-block">Subscribe</button>
          <div>
            <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-youtube"></i>
          </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 border-top border-white">
    Winster© 2024 Copyright:
    <a class="text-white" href="index.html">Winster.com</a>
  </div>
  <!-- Copyright -->
</footer>

