<body>
    <div class="title-box"></div>
    <br>
    <br>
    <h1>Wineyard</h1>
    <br>
    <br>
    <div class="line"></div>
        <div class="wrapper">
            <div class="box box1">
                <img src="..//../assets/images/g1.jpg" alt=" ">
            </div>
            <div class="box box2">
                <img src="..//../assets/images/g2.jpg" alt=" ">
            </div>
            <div class="box box3">
                <img src="..//../assets/images/g3.jpg" alt=" ">
            </div>
            <div class="box box4">
                <img src="..//../assets/images/g4.jpg" alt=" ">
            </div>
            <div class="box box5">
                <img src="..//../assets/images/g5.jpg" alt=" ">
            </div>
            <div class="box box6">
                <img src="..//../assets/images/g6.jpg" alt=" ">
            </div>
            <div class="box box7">
                <img src="..//../assets/images/g7.jpg" alt=" ">
            </div>
            <div class="box box8">
                <img src="..//../assets/images/g8.jpg" alt=" ">
            </div>
            <div class="box box9">
                <img src="..//../assets/images/g9.jpg" alt=" ">
            </div>
            <div class="box box10">
                <img src="..//../assets/images/g10.jpg" alt=" ">
            </div>
            <div class="box">
                <img src="..//../assets/images/g11.jpg" alt=" ">
            </div>
            <div class="box">
                <img src="..//../assets/images/g12.jpg" alt=" ">
            </div>
        </div>
</body>
