<div class="wrapper">
    <a href="index.html"><img class="first" src="..//../assets/images/winsterlogo.png" alt=""></a>
    <img class="second" src="..//../assets/images/loginpageimage.png" alt="">
    <div class="bigbox">
        <h3>Sign In</h3>
        <div class="emails">
            <span class="inst">Email</span><input type="email" placeholder="Your Email Address">
            <br>
            <span class="inst">Password</span><input type="password" placeholder="Your Password">
            <br>
            <button class="p3">Sign In</button>
        </div>
        
    </div>
</div>
