
body {
    margin-top: 40px;
    background-color: #370617;


}
#about{
    padding: 70px 0;
    color:black;

    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    
}
.about-col-2{
    flex-basis: 62%;
}
.about-col-2 p{
    font-size: 13px;
}
.sub-title{
    font-size: 55px;
    font-weight: 600;
    color: rgb(1, 1, 1);
    background-color: white;
    opacity: 0.6;
    margin-top: 1px;
    text-align: center;
    
   
}
.sub-title:hover{
    opacity: 1;
}
.about-text{
    color: white;
   
}